{% extends "App_Victim/base.html" %}

{% block title %}
Add Data
{% endblock %}

{% block content %}
        <form action="" method="post">
        {% csrf_token %}
            <h1>Victim Register Form</h1>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">IC Number</label>
                <input type="text" class="form-control" maxlength="12" name="ic_no" placeholder="e.g 123456789101 ( Without '-' )" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" placeholder="e.g Joseph Dyson" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="hp_no" placeholder="e.g 0123456789" required>
            </div>
            <div style="text-align: right">
                <button type="reset" class="btn btn-primary btn-lg" style="background-color: red;border-color: transparent">Cancel</button>
                <button type="submit" class="btn btn-secondary btn-lg" style="background-color: #2a2c2e;border-color: transparent">Submit</button>
            </div>
        </form>
{% endblock %}
